<div class="min-h-screen flex flex-col justify-center items-center border-gray-200 p-6">

    <div class="text-2xl font-semibold text-gray-800 mb-6">ACERCA DE</div>

    <div class="rounded-xl bg-white shadow-lg max-w-lg w-full px-8 py-6 sm:flex sm:items-center sm:space-x-6">
        <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:flex-shrink-0" src="assets/img/perfil.png" alt="Perfil">
        <div class="text-center sm:text-left space-y-2">
            <div class="space-y-0.5">
                <p class="text-xl text-black font-semibold">
                    Maria Esperanza Romero Villa
                </p>
                <p class="text-gray-600 font-medium">
                    Ingeniera en Sistemas Computacionales
                </p>
            </div>

            <div class="text-gray-500 text-sm">
                <p><strong>Institución:</strong> Instituto Tecnológico Superior de Lerdo</p>
                <p><strong>Número de Cédula:</strong> 12842107</p>
            </div>
        </div>
    </div>

    <div class="h-6"></div>

    <div class="rounded-xl bg-white shadow-lg max-w-4xl w-full overflow-hidden md:flex justify-center items-center p-8">
        <div class="text-center w-full">
            <img class="mx-auto h-48 md:h-64 object-cover rounded-full mb-4" src="assets/img/desarrollo.jpg" alt="Academia SITIC">
          <div>
            <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">Academia SITIC</div>
            <a href="#" class="block mt-2 text-3xl font-medium text-black hover:underline">SiticCommerce</a>
            <p class="mt-4 text-xl text-gray-500">Desarrollo de aplicaciones empresariales en la Academia SITIC</p>
          </div>
        </div>
    </div>

    <div class="h-6"></div>

    <div class="rounded-xl bg-white shadow-lg max-w-4xl w-full p-8 mb-6">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-medium text-xl">Opinión sobre el curso</div>
        <p class="mt-4 text-gray-500 text-lg">
            El curso fue una excelente opción para expandir mis conocimientos y obtener una visión más clara de lo que
            actualmente se requiere en el entorno laboral, especialmente en el ámbito del desarrollo de software. A lo
            largo de los 10 sábados, pude aprender herramientas y prácticas que se utilizan comúnmente en la industria.
            Sin embargo, el tiempo del curso me pareció algo limitado. Hubiera querido profundizar más en algunos temas,
            como los microservicios y Angular, para poder entenderlos con mayor detalle y obtener más experiencia
            práctica en su implementación.
        </p>
    </div>

    <div class="rounded-xl bg-white shadow-lg max-w-4xl w-full p-8 mb-6">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-medium text-xl">Aprendizajes obtenidos</div>
        <p class="mt-4 text-gray-500 text-lg">
            Uno de los aprendizajes más significativos para mí fue la implementación de tablas, esquemas, procedimientos
            almacenados y otros aspectos de bases de datos en SQL. Este enfoque es algo que tienen muy bien normalizado
            en las empresas y que no había experimentado anteriormente, ya que no había trabajado en una organización
            que contara con un DBA especializado. Me resultó una habilidad fundamental para trabajar con bases de datos
            de manera eficiente.
        </p>
        <p class="mt-4 text-gray-500 text-lg">
            En cuanto a los microservicios, aunque ya los había utilizado en proyectos anteriores, pude mejorar mis
            habilidades al desarrollar uno desde cero. Este fue un desafío interesante, ya que me permitió comprender de
            manera más profunda cómo estructurarlos, gestionarlos y hacerlos más eficientes.
        </p>
        <p class="mt-4 text-gray-500 text-lg">
            Además, la utilización de Angular en el backend fue una experiencia completamente nueva para mí. Aunque
            nunca había trabajado directamente con Angular en el servidor, el curso me proporcionó una excelente base
            para comprender cómo integrarlo en proyectos full-stack y aprovechar sus ventajas para crear aplicaciones
            más dinámicas y escalables.
        </p>
    </div>

    <div class="rounded-xl bg-white shadow-lg max-w-4xl w-full p-8 mb-6">
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-medium text-xl">Reflexión personal sobre la
            experiencia de desarrollo del proyecto</div>
        <p class="mt-4 text-gray-500 text-lg">
            El desarrollo de este proyecto fue una experiencia enriquecedora que me permitió aprender muchas cosas
            nuevas, algunas de las cuales no se cubrieron directamente en el curso, pero que me sirvieron para mejorar
            mis habilidades. Por ejemplo, la resolución de conflictos y errores se presentó principalmente durante la
            creación de microservicios, lo que me permitió afianzar mis habilidades para resolver problemas de manera
            rápida y efectiva.
        </p>
        <p class="mt-4 text-gray-500 text-lg">
            Uno de los aspectos que más disfruté fue la posibilidad de implementar scripts de manera limpia y organizada
            en las bases de datos. Esta parte me permitió conocer mejores prácticas para la gestión de datos y su
            integración en sistemas más complejos.
        </p>
        <p class="mt-4 text-gray-500 text-lg">
            Siento que este proyecto me ha ayudado a crecer profesionalmente. Me ha brindado nuevas perspectivas sobre
            cómo organizar el trabajo en un equipo de desarrollo, cómo aplicar principios sólidos de programación y cómo
            utilizar herramientas que se emplean comúnmente en el sector. Estoy muy agradecida por esta oportunidad, ya
            que me ha permitido avanzar significativamente en mi carrera y estar más preparado para enfrentar los
            desafíos del mundo real en el ámbito del desarrollo de software.
        </p>
    </div>


</div>