<!-- <div *ngIf="cartItemsDetail.length > 0; else emptyCart">
    <h3>Productos en el carrito</h3>
    <ul>
      <li *ngFor="let item of cartItemsDetail">
        Producto  {{ item.name }} - Cantidad: {{ item.quantity}} - Precio: {{ item.price | currency }}
      </li>
    </ul>
  </div>
  
  <ng-template #emptyCart>
    <p>No hay productos en el carrito.</p>
  </ng-template> -->

  <table mat-table [dataSource]="cartItemsDetail" class="mat-elevation-z8 w-full">

    <!-- Definición de la columna 'name' -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-sm"> Nombre </th>
      <td mat-cell *matCellDef="let item" class="text-sm">{{ item.name }}</td>
    </ng-container>
  
    <!-- Definición de la columna 'price' -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="text-sm"> Precio </th>
      <td mat-cell *matCellDef="let item" class="text-sm text-right">{{ item.price | currency }}</td>
    </ng-container>
  
    <!-- Definición de la columna 'quantity' -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="text-sm"> Cantidad </th>
      <td mat-cell *matCellDef="let item" class="text-sm text-center">{{ item.quantity }}</td>
    </ng-container>
  
    <!-- Filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="mt-4 text-center">
    <button mat-raised-button color="primary" class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition-all" >
      Confirmar Carrito
    </button>
  </div>
  <!-- confirmCart()  (click)=""-->
  
